body{
  display: flex;
  justify-content: center;
  background-color:hsl(218, 23%, 16%) ;
  
}
.val{
  border: 1px solid  hsl(217, 19%, 24%);
  border-radius:3vh;
  position: relative;
  top: 30vh;
  background-color: hsl(217, 19%, 24%);
  width:70vh;
  height:50vh;
}
h1{
  margin-left: 25vh;
  font-size: small;
  color:hsl(150, 100%, 66%);
  margin-top: 4vh ;
}
blockquote{
  font-size: large;
  color:hsl(193, 38%, 86%) ;
}
.view{
  margin-left:7vh;
  width: 58vh;
  margin-top: 13vh;
}
.trill{
  position:absolute;
  top:45vh;
  left: 31vh;
  padding: 5%;
  border:1px solid hsl(217, 19%, 38%);
  border-radius: 50%;
  background-color:hsl(150, 100%, 66%);
}
@media screen and (max-width:375px){
  .val{
    width:30vh;
    height:30vh;
  
  }
  h1{
    margin-left: 10vh;
  }
  .view{
    width: 10vh;
   height: 2vh; 
   margin-top:6vh ;
   margin-left: 10vh;

  }
  blockquote{
    font-size: small;
  }
  .trill{
    top:28vh;
    left:13vh;
  }
}
